In Angular everything is component.
<br/>A component need to be, as much as posible, independant.
<br/>we can conclude that style is not in an unique file.
<br/>Each component have his own stylefileandif you take a component without his context it must put usable. So multiple way to
add style:
<ul>
  <li>global: in src/styles.scss</li>
  <li>shared: files (should be in shared module) which are import for a theme</li>
  <li>in component: each component with is own style (even if it can be shared but we'll see it later)</li>
  <li>inline: in html balise</li>
  <li>in header: can importe style file, which will be global</li>
  <li>in angular-cli.json: as in header, will import fill to shared it globally</li>
  <li>in style balise:</li>
</ul>

special angular selector:
<ul>
  <li>:host : target the element which host component</li>
  <li>:host-context :style elements inside a component, depending on some condition set outside of it</li>
  <li>/deep/ (deprecated ng v6) : apply styles not just to the elements in the template but also to child component</li>
</ul>

<br/> Class and style can be cast dynamically
<br/> [ngClass]="{{'{'}}active: goal.isActiveGoal}": if isActiveGoal is true element will have class active
<pre>
  Some exemple
  [ngClass]="{{'{'}}class1: condition}"
  [ngClass]="'class1 class2'"
  [ngClass]="[class1 class2]"
  [ngClass]="{{'{'}}'class1 class2': condition}"
  
  [ngStyle]="{{'{'}}'background-color': 'red'}"
  [ngStyle]="{{'{'}}'width.px': 200}"
</pre>

<app-goal 
  *ngFor="let goal of courseGoals"
  [goal]="goal"
  [ngClass]
  (click)="goal.isActiveGoal = !goal.isActiveGoal">
</app-goal>
