<ul>
    <li (click)="go(['style', 'single-comp'])">style</li>
    <li (click)="go(['style', 'multi-comp'])">style multicomponent</li>
    <li>css
      <ul>
          <li>transition</li>
          <li>complex transition</li>
          <li>basic animation</li>
          <li>complex animation</li>
        </ul>
    </li>
    <li>ng animation
      <ul>
          <li>multi step transition</li>
          <li>multi transition</li>
          <li>temporary state</li>
          <li>transition</li>
          <li>basics</li>
        </ul>
    </li>
    <li>advanced animation
      <ul>
          <li>event</li>
          <li>dimention drop</li>
          <li>keyframes</li>
          <li>list</li>
          <li>meta state</li>
          <li>timing</li>
        </ul>
    </li>
  </ul>