<span (click)="handleToogleShowSubmenu()">{{menu?.name}}</span>
<ul *ngIf="showSubmenu">
  <li *ngFor="let iMenu of menu.submenu" (click)="launchRedirecte(iMenu)">
    <ng-container [ngSwitch]="iMenu?.type">
      <span *ngSwitchCase="'header'">
        <h1>Header {{printIcon(iMenu?.icon)}} {{iMenu?.name}}</h1>
      </span>
      <span *ngSwitchCase="'link'">
        {{printIcon(iMenu?.icon)}} {{iMenu?.name}}
      </span>
      <span *ngSwitchCase="'category'">
        <app-menu [menu]="iMenu"></app-menu>
      </span>
    </ng-container>
  </li>
</ul>