<!-- #section5 -->
<app-section5-begin></app-section5-begin>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/><!-- #section4 -->
<app-lecture58></app-lecture58>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- #section3-session46+ -->

<app-css-anim></app-css-anim>

<!-- #section2-video33 -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Projects</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/users">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- #section2 -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>My Quotes</h1>
      <div class="interesting">
        <!--<app-quote class="favorite"></app-quote>-->
        <app-quote
          (click)="isFavorite = !isFavorite"
          [ngClass]="{'favorite super-favorite': isFavorite}"
          [ngStyle]="{'width.px': isFavorite ? 600 : 400 }"
        ></app-quote>
          <!-- [ngStyle]="{'width': isFavorite ? '600px' : '400px' }" -->
        <app-author></app-author>
      </div>
      <button
        class="btn btn-primary"
        (click)="onShowBoring(boringBlock)"
      >Show boring Quotes</button>
      <div
        style="display: none"
        class="boring"
        #boringBlock
      >
        <div id="very-boring">
          <app-quote class="favorite"></app-quote>
          <app-author></app-author>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!-- #endsection2 -->
<!-- #section1 -->
<app-goal 
  *ngFor="let goal of courseGoals" 
  [goal]="goal"
  [ngClass]="{active: goal.isActiveGoal}"
  (click)="goal.isActiveGoal = !goal.isActiveGoal"
></app-goal>
<!-- #endsection1 -->